<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <script type="text/javascript" src="/layui/layui.js" ></script>
    <script type="text/javascript" src="/layui/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript">
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: '#birthday'
                ,theme: 'molv'
            });
        });
    </script>
    <script type="text/javascript">
        layui.use(['form','layer'], function(){
            var form = layui.form;
            form.render('select');
            //自定义验证规则
            form.verify({
                knowname: function(value){
                    if(value.length < 1){
                        return '标题不能为空';
                    }
                }
               ,knowcontent: function(value){
                    if(value.length < 1){
                        return '内容不能为空';
                    }
                }
                ,knowtypeid: function(value){
                    if(value.length < 1){
                        return '类型不能为空';
                    }
                }
                ,aid: function(value){
                    if(value.length < 1){
                        return '账号不能为空';
                    }
                }
                ,knowbegintime: function(value){
                    if(value.length < 1){
                        return '日期不能为空';
                    }
                }
            });

            //查询修改前身份角色id

            //监听提交
            form.on('submit(submitBtn)', function(data){
                var param=data.field;//定义临时变量获取表单提交过来的数据，非json格式
                alert("监听提交"+JSON.stringify(param));//表格数据序列化 JSON.stringify(param)
                $.ajax({
                    url:"/know/knowAdd",
                    type:'post',//method请求方式，get或者post
                    dataType:'json',//预期服务器返回的数据类型
                    data:param,//表格数据序列化
                    success:function(res){//res为相应体,function为回调函数
                        if (res==1) {
                            /* $.ajax({
                                url:"UpdateNum.action?cls_id="+cls_id,
                                type:'post',
                                dataType:'json'
                            }); */
                            layer.msg('操作成功');
                            window.parent.location.reload();
                        }
                    }
                });
                return false;
            });

        });
    </script>
</head>
<body>
<div style="margin-top: 10px;" >
    <form class="layui-form" id="stuForm" lay-filter="example" >
        <input id="knowid" name="knowid"  type="text"   class="layui-input" style="display: none;" />
        <div class="layui-form-item">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block">
                <input  style = "width:300px;" type="text" name="knowname" lay-verify="knowname" autocomplete="off" placeholder="请输入(必选项)" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">内容</label>
            <div class="layui-input-block">
                <input style = "width:300px;" type="text" name="knowcontent" lay-verify="knowcontent" autocomplete="off" placeholder="请输入(必选项)" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">类型</label>
            <div class="layui-input-block">
                <select name="knowtypeid" lay-filter="roseId" lay-verify="required" >
                    <option value="">请选择</option>
                    <option th:each="result : ${list}" th:value="${result.knowtypeid}" th:text="${result.knowtypename}" ></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input style = "width:300px;" type="text" name="aid" lay-verify="aid" autocomplete="off" placeholder="请输入(必选项)" required class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">日期</label>
            <div class="layui-input-block">
                <input style = "width:300px;" type="text" class="layui-input" id="knowbegintime" name="knowbegintime"  autocomplete="off" placeholder="请输入日期(必选项)">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submitBtn">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>