<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>烹饪方法</title>

    <link rel="stylesheet" href="/layui/css/layui.css" >
    <script type="text/javascript" src="/layui/layui.js" ></script>
    <script type="text/javascript" src="/layui/jquery-1.12.4.min.js" ></script>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#empInfo'
                ,id: 'empInfoReload'
                ,height: 450
                ,url:'/proces/showProces'
                ,cellMinWidth: 80   //定义全局最小宽度
                ,toolbar: '#toolbarDemo'
                ,cols:
                    [
                        [
                             {type: 'checkbox', fixed: 'left'}
                            ,{field:'procesid', width:80, title: 'ID',align: 'center',fixed:'left',sort: true}
                            ,{field:'procesname',  title: '烹饪方法',align: 'center'}
                            ,{fixed: 'right', title:'操作', width:200 , align:'center', toolbar: '#barDemo'}
                        ]
                    ]
                ,dataType:"json"
                ,page: true//开启分页
            });

            //表格重载
            var $ = layui.$, active = {
                reload: function(){
                    var demoReload = $('#demoReload');

                    //执行重载
                    table.reload('empInfoReload', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        ,where: {

                            name : demoReload.val()


                        }
                    });
                }
            };
            $('#searchBtn').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

            //头工具栏事件
            table.on('toolbar(emp)', function(obj){
                var checkStatus = table.checkStatus(obj.config.id);
                switch(obj.event){
                    case 'addEmp':
                        layer.open({
                            title:'新进部门'
                            ,id:'add'
                            ,type: 2
                            ,content: '/proces/add1'
                            ,offset:'10px'//居上100左右居中
                            ,resize:false//不可改变大小
                            ,fixed: false//鼠标滚动时，固定在可视区域
                            ,btn: '关闭'
                            ,btnAlign: 'c' //按钮居中
                            ,shade: 0.3 //遮罩
                            ,area:['600px','530px']
                        });
                        break;

                };
            });
            //监听行工具事件
            table.on('tool(emp)', function(obj){
                var data = obj.data;
                if(obj.event == 'del'){
                    layer.confirm('删除该烹饪方法嘛？', function(index){
                        //obj.del();
                        layer.close(index);
                        $.ajax({
                            type:'post',
                            url:'/proces/del',
                            dataType:'json',
                            data:{procesid:data.procesid},
                            success:function(res){
                                if(res==1){
                                    /* $.ajax({
                                        url:"UpdateNum.action?cls_id="+data.cls.cls_id,
                                        type:'post',
                                        dataType:'json',
                                        success:function(data){
                                            if(data.success==1){
                                                layer.msg('删除成功');
                                            }
                                        }
                                    }); */
                                    layer.msg('离职成功，员工账号作废');
                                    window.location.reload();

                                }else{
                                    layer.msg('该员工已经离职。');

                                }
                            }
                        });
                    });
                } else if(obj.event == 'update'){
                    layer.open({
                        title:'编辑员工信息'
                        ,id:'upd'
                        ,type: 2
                        ,content: '/proces/Update?procesid='+data.procesid
                        ,offset:'10px'//居上100左右居中
                        ,resize:false//不可改变大小
                        ,fixed: false//鼠标滚动时，固定在可视区域
                        ,btn: '关闭'
                        ,btnAlign: 'c' //按钮居中
                        ,shade: 0.3 //遮罩
                        ,area:['600px','530px']
                    });
                }
            });

        });
        //格式转换
        function createrFormat(o){
            return o;
        }
    </script>
</head>
<body>
<div class="demoTable" style="margin-top: 15px;margin-left: 20px;" >
    搜索烹饪方法：
    <div class="layui-inline">
        <input class="layui-input" name="procesname" id="demoReload" autocomplete="off">

    </div>

    <button  class="layui-btn" id="searchBtn" data-type="reload">搜索</button>
</div>
<!-- 学生信息数据表格 -->
<table class="layui-hide" lay-filter="emp" id="empInfo"></table>
<!-- 行按钮组件 -->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
    {{#if(d.flag==2){}}
    <a class="layui-btn layui-btn-disabled layui-btn-xs">已离职</a>
    {{#}else{}}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{#}}}


</script>
<!-- 头部按钮组件 -->
<script type="text/html" id="toolbarDemo" >
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="addEmp">添加烹饪方法</button>

    </div>
</script>

</body>
</html>