<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.wzs.dao.UsersDAO">
    <select id="query" parameterType="String"  resultType="Map">
        select *  from  users where uname=#{param1}  and  upassword=#{param2}
    </select>
</mapper>