<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css" >
    <script type="text/javascript" src="/layui/layui.js" ></script>
    <script type="text/javascript" src="/layui/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript">
        layui.use('laydate', function(){
            var laydate = layui.laydate;
            laydate.render({
                elem: '#birthday'
                ,theme: 'molv'
            });
        });
    </script>
    <script type="text/javascript">
        layui.use(['form','layer'], function(){
            var form = layui.form;
            form.render('select');
            //自定义验证规则
            form.verify({
                funtionname: function(value){
                    if(value.length < 1){
                        return '功能不能为空';
                    }
                }
            });

            //监听提交
            form.on('submit(submitBtn)', function(data){
                var param=data.field;//定义临时变量获取表单提交过来的数据，非json格式
                //alert("监听提交"+JSON.stringify(param));//表格数据序列化 JSON.stringify(param)
                $.ajax({
                    url:"/funtion/funtionUpdate",
                    type:'post',//method请求方式，get或者post
                    dataType:'json',//预期服务器返回的数据类型
                    data:param,//表格数据序列化
                    success:function(res){//res为相应体,function为回调函数
                        if (res==1) {
                            layer.msg('操作成功');
                            window.parent.location.reload();
                        }
                    }
                });
                return false;
            });

        });
    </script>
</head>
<body>
<div style="margin-top: 10px;" >
    <form class="layui-form" id="stuForm" lay-filter="example" >
        <input id="funtionid"  type="text" name="funtionid" th:value="${one.funtionid}"   class="layui-input" style="display: none;" />

        <div class="layui-form-item">
            <label class="layui-form-label">功能</label>
            <div class="layui-input-block">
                <input id="funtionname" type="text" style="width: 400px;" name="funtionname" th:value="${one.funtionname}" lay-verify="name" autocomplete="off" required class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="submitBtn">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>