<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>内容main页面</title>
    <link rel="stylesheet" href="/layuicms/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/layuicms/css/public.css" media="all" />
</head>
<body  class="childrenBody">

<img src="/img/QQ4.jpg" style="width: 100%;height: 680px" >

</body>
<script type="text/javascript" src="/layuicms/layui/layui.js"></script>
<script type="text/javascript" src="/layuicms/js/main.js"></script>
</html>