<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
欢迎来到Food of the word!
<a href="/account/qqLogin">QQ登录</a>
<a href="/back/tologin">后台登录</a>
<a href="/back/index">后台首页</a>
<a href="/front/index">前台首页</a>
<a href="/account/show">账号显示</a>
<a href="/cookbook/show">菜谱显示</a>
<a href="/collection/show">收藏显示</a>
<a href="/funtion/show">功能显示</a>
<a href="/cookstyle/show">菜系显示</a>
<a href="/hard/show">难度显示</a>
<a href="/homecook/show">家常菜谱显示</a>
<a href="/material/show">材料显示</a>
<a href="/review/show">评论显示</a>
<a href="/users/show">后台账号显示</a>
<a href="/food/showfood">食材显示</a>
<a href="/levels/showLevels">等级显示</a>
<a href="/proces/show1">工艺显示</a>
<a href="/seeme/show1">关注显示</a>
<a href="/speacecook/show1">地方小吃显示</a>
<a href="/taste/show1">口味显示</a>
<a href="/vip/show1">vip显示</a>
<a href="/uc/lala">上传</a>


<a href="/foodtype/ftshow">食品类型</a>

缺少饮食文化列表，
<a href="/know/show">文化列表</a>
缺少文化类别管理。
<a href="/knowtype/show">文化类别</a>
缺少菜谱视频管理。
<a href="/mv/show">视频类型</a>

<a href="/spend/book">发表菜谱</a>

<a href="/front/regist">注册</a>



</body>
</html>