<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <title>天下美食</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>
<body>

<a href="/front/indexFood">前台主页</a><br/>
<a href="/skipPage/about">热门视频</a><br/>
<a href="/skipPage/blog">第2</a><br/>
<a href="/skipPage/blog-single">单个菜谱详情页</a><br/>
<a href="/skipPage/contact">第4</a><br/>
<a href="/skipPage/gallery">类型查询明细</a><br/>
<a href="/skipPage/gallery-single">单个视频详情页</a><br/>
<a href="/skipPage/login">前台登陆</a><br/>
<a href="/skipPage/payVideo">购买视频缴费支付</a><br/>
<a href="/skipPage/pcenter">前台个人中心</a><br/>
<a href="/skipPage/regist">前台注册</a><br/>
<a href="/skipPage/services">第11</a><br/>
<a href="/skipPage/page404">404</a><br/>
</body>
</html>